<div class="body-wrapper">
  <div class="page-section mb-60">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 mb-30">
          <!-- Login Form s-->
          <div class="login-form">
            <h3 class="login-title" style="text-align: center"><strong>Danh sách đơn hàng</strong></h3>
            <table mat-table
                   [dataSource]="listOrderCustomer" multiTemplateDataRows
                   class="mat-elevation-z8">
              <!--              <ng-container matColumnDef="stt">-->
              <!--                <th mat-header-cell *matHeaderCellDef style="width: 30px"> STT</th>-->
              <!--                <td mat-cell style="text-align: center;" *matCellDef="let element">{{element.stt}} </td>-->
              <!--              </ng-container>-->

              <!--              <ng-container matColumnDef="dateOrder">-->
              <!--                <th mat-header-cell *matHeaderCellDef> Ngày đặt hàng</th>-->
              <!--                <td mat-cell style="width: 400px;" *matCellDef="let element"> {{element.date_order}} </td>-->
              <!--              </ng-container>-->


              <!--              <ng-container matColumnDef="dateShip">-->
              <!--                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Ngày gửi hàng</th>-->
              <!--                <td mat-cell style="width: 400px;" *matCellDef="let element"> {{element.date_ship}} </td>-->
              <!--              </ng-container>-->


              <ng-container matColumnDef="nameShop">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Tên cửa hàng</th>
                <td mat-cell style="text-align: center;" *matCellDef="let element"> {{element.shop_id}} </td>
              </ng-container>


              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Mô tả</th>
                <td mat-cell style="text-align: center;" *matCellDef="let element"> {{element.description}} </td>
              </ng-container>


              <ng-container matColumnDef="status_pay">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Trạng thái thanh toán</th>
                <td mat-cell style="text-align: center;" *matCellDef="let element">
                  <div *ngIf="element.status_pay == 1">Đã thanh toán</div>
                  <div *ngIf="element.status_pay == 0">Chưa thanh toán</div>
                </td>
              </ng-container>


              <ng-container matColumnDef="status_order">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Trạng thái hàng</th>
                <td mat-cell style="text-align: center;" *matCellDef="let element">
                  <div *ngIf="element.status_order == 0">Chờ xác nhận
                  </div>
                  <div *ngIf="element.status_order == 1">Đã gửi hàng</div>
                  <div *ngIf="element.status_order == 2">Đã nhận được hàng</div>

                </td>
              </ng-container>

              <!--              <ng-container matColumnDef="action">-->
              <!--                <th mat-header-cell *matHeaderCellDef>Hành động</th>-->
              <!--                <td mat-cell style="width: 400px;" *matCellDef="let element">-->
              <!--                  <div *ngIf="element.status_order == 0">-->
              <!--                    <mat-icon (click)="updateStatusOrderFirst(element.id)">done</mat-icon>-->
              <!--                    <mat-icon style="margin-left: 20px; cursor: pointer" (click)="updateStatusExist(element.id)">clear-->
              <!--                    </mat-icon>-->
              <!--                  </div>-->
              <!--                  <div *ngIf="element.status_order == 1 || element.status_order == 2">-->
              <!--                    <strong style="color: red">Comming Soon</strong>-->
              <!--                  </div>-->
              <!--                </td>-->
              <!--              </ng-container>-->


              <!--  Phần nhận Event Click mở rộng -->
              <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions" >&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button aria-label="expand row"
                          (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                  </button>
                </td>
              </ng-container>
              <!--  Phần nhận Event Click mở rộng -->


              <!--  Content phần mở rộng-->
              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail" >
              <table mat-table
                     [dataSource]="listOrderDetail">
                <td mat-cell  *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                  <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-diagram">
                      <div class="example-element-position"> {{element.description}} </div>
                    </div>
                    <div class="example-element-description">
                      {{element.description}}
                      <span class="example-element-description-attribution"> </span>
                    </div>
                  </div>
                </td>
            </table>
              </ng-container>


              <!--  Content phần mở rộng-->
              <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElement === element"
                  (click)="expandedElement = expandedElement === element ? null : element">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
